@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fcfffe;
  --text-color: #121212;
  --primary-blue: #4968e0;

}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

.hidden-css {
  opacity: 0;
  transform: translateY(5rem);
  transition: all 0.5s ease-in-out;
}

@media(prefers-reduced-motion) {
  .hidden-css {
    transition: none;
  }
}

.show-css {
  opacity: 1;
  transform: translateY(0);
}

.hovering:hover {

  &>span>.hovering-underline,
  &>.hovering-underline {
    opacity: 1;
  }

  &>.hovering-icon {
    background-color: var(--primary-blue);

    &>svg {
      color: var(--bg-color);
    }
  }

}

.dropdown {
  & .dropdown-content {
    transition: all 400ms ease-in-out 50ms;
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    & .dropdown-content {
      pointer-events: auto;
      opacity: 1;
    }
  }
}